<div class="p-6 flex flex-col gap-10">
  <section
    class="
      w-full
      bg-white
      flex
      justify-center
      flex-col
      items-center
      py-10
      gap-10
    "
  >
    <header class="text-center">
      <h1 class="md:text-lg">
        Participantes de la primera edicion de EXPO CANNABIS LITORAL 2023
      </h1>
      <span class="block text-lg mt-2 colorful-bg">Asociaciones</span>
    </header>

    <section
      class="
        flex flex-wrap
        items-center
        justify-center
        gap-10 gap-x-4
        sm:gap-x-10
      "
    >
      <img
        src="https://files.fm/thumb_show.php?i=892ytv4vs"
        alt=""
        class="sm:w-24 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=f446py288"
        alt=""
        class="sm:w-20 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=zwuerczuq"
        alt=""
        class="sm:w-36 w-16"
      />
      <img
        src="https://files.fm/thumb.php?i=uktxwy3ae"
        alt=""
        class="sm:w-28 w-16"
      />
      <img
        src="https://files.fm/thumb.php?i=9n64gjzkb"
        alt=""
        class="sm:w-36 w-16 sm:-mb-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb_show.php?i=w96we7bva"
        alt=""
        class="sm:w-36 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=3vvyeauka"
        alt=""
        class="sm:w-20 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=ecpemtwq9"
        alt=""
        class="sm:w-24 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=6f4a55raa"
        alt=""
        class="sm:w-24 w-16 sm:-mt-6 -mt-0"
      />
    </section>
  </section>
</div>
