<nav
  style="background-color: #003327;"
  class="
    sm:py-5
    py-0
    flex
    md:justify-around
    justify-between
    px-8
    md:px-0
    items-center
    md:h-20
  "
>
  <div>
    <img
      class="w-40 h-40"
      src="https://files.fm/thumb.php?i=pa8xyadkt"
      alt=""
      routerLink="/"
    />
  </div>

  <ul class="flex justify-around gap-10 md:flex hidden">
    <li>
      <a
        class="
          rounded
          text-yellow-500
          transition-colors
          font-medium
          duration-500
          py-1
          px-2
        "
        routerLink="/"
        >Home</a
      >
    </li>
    <li>
      <a
        class="
          rounded
          text-white
          hover:text-yellow-500
          transition-colors
          font-medium
          duration-500
          py-1
          px-2
        "
        routerLink="/src/quienes-somos/quienes-somos.component.html"
        >Sponsor</a
      >
    </li>
    <li>
      <a
        class="
          text-white
          hover:text-yellow-500
          transition-colors
          duration-500
          font-medium
        "
        routerLink="/quienessomos"
        >Quienes Somos</a
      >
    </li>
    <li>
      <a
        class="
          text-white
          hover:text-yellow-500
          transition-colors
          duration-500
          font-medium
        "
        routerLink="/contacto"
        >Contacto</a
      >
    </li>
  </ul>
  <div class="md:hidden flex">
    <button class="rounded bg-black-200">
      <svg
        class="w-6 h-6"
        fill="#fff"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <svg
        class="hidden w-6 h-6"
        fill="#fff"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>
