
:root{
    --color-Burnham: '#003327';
    --color-BudaOro: '#D39400';
    --color-Plata: '#Bababa';

  }

.act:hover{
    color: #D39400;
}

.class-name{
    color: #D39400;
}


.nav{
    position: absolute;
    transform: translate(-150px, 50px);
    width: 100%;
    padding: 1rem;
    z-index: 9;
    overflow: hidden;
}
.nav a{
    font-size: 18px;
}

.flex-active{
    position: relative;
}
.flex-active span{

    display: inline-block;
    vertical-align: middle;
}

.drop-list:has(:checked){
    --rows: 1fr;
}

.check{
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: 9;
    opacity: 0;
}

.drop-content{
    width: auto;
    padding: 0rem .5rem;
    position: fixed;
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .5s grid-template-rows;
    background: #000;
    color: white;
    margin-top: 5px;
}

.drop-sub{
    overflow: hidden;
}

.drop-sub li{
    margin-top: 7px;
    margin-bottom: 7px;
}

.drop-sub li:hover{
    color: #D39400;
    transition: .5s color;
}


