<div class="text-center p-10">
  <h1 class="text-4xl font-bold mb-4">Exposición 2023</h1>
  <ul class="list-disc text-xl mb-8">
    <li class="animate__animated animate__bounce">Salud</li>
    <li class="animate__animated animate__bounce">Industria</li>
    <li class="animate__animated animate__bounce">Cultivo</li>
    <li class="animate__animated animate__bounce">Cultura</li>
  </ul>
  <p class="text-2xl mb-4">3, 4 y 5 de noviembre 2023</p>
  <p class="text-2xl mb-8">La Rural</p>
  <div class="flex justify-center space-x-4">
    <button
      class="
        bg-green-500
        hover:bg-green-600
        text-white
        font-bold
        py-2
        px-4
        rounded
        transition
        duration-500
      "
      [@fadeInOut]="'in'"
    >
      Quiero ser expositor
    </button>
    <button
      class="
        bg-blue-500
        hover:bg-blue-600
        text-white
        font-bold
        py-2
        px-4
        rounded
        transition
        duration-500
      "
      [@fadeInOut]="'in'"
    >
      Quiero ser sponsor
    </button>
  </div>
</div>
