<nav class="bg-pink-100 p-4 rounded">
  <ul class="flex justify-around">
    <li>
      <a
        class="
          text-green-600
          hover:text-green-800
          transition-colors
          duration-200
        "
        routerLink="/"
        >Home</a
      >
    </li>
    <li>
      <a
        class="
          text-green-600
          hover:text-green-800
          transition-colors
          duration-200
        "
        routerLink="/quienessomos"
        >Quienes Somos</a
      >
    </li>
    <li>
      <a
        class="
          text-green-600
          hover:text-green-800
          transition-colors
          duration-200
        "
        routerLink="/contacto"
        >Contacto</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<app-footer></app-footer>
