<div class="text-center pt-10 w-100 bg-home">
  <section
    class="sm:mt-10 sm:p-5 mt-0 pt-0 m-auto grid justify-center fix-bg z-10"
  >
    <h1 class="font-fix font-medium mb-4 text-white z-10">
      CANNALITORAL
    </h1>

    <div class="countdown-2">
      <p>
        <span>{{ days }}</span>
        Días
      </p>
      <p>
        <span>{{ hours }}</span>
        Horas
      </p>
      <p>
        <span>{{ minutes }}</span>
        Minutos
      </p>
      <p>
        <span>{{ seconds }}</span>
        Segundos
      </p>
    </div>

    <ul
      class="
        z-10
        mobile-hidden
        list-none
        text-2xl
        mb-8
        font-medium
        text-green-500
        flex
        gap-6
        justify-center
        m-10
        sm:flex-row
      "
    >
      <li
        style="color: #Bababa;"
        class="animate__animated animate__bounce text-2xl"
      >
        Salud
      </li>
      <li
        style="color: #Bababa;"
        class="animate__animated animate__bounce text-2xl"
      >
        Industria
      </li>
      <li
        style="color: #Bababa;"
        class="animate__animated animate__bounce text-2xl"
      >
        Cultivo
      </li>
      <li
        style="color: #Bababa;"
        class="animate__animated animate__bounce text-2xl"
      >
        Cultura
      </li>
    </ul>

    <p class="text-2xl mb-0 sm:mb-4 text-white fix-size z-10">
      19 y 20 De Agosto 2023
    </p>

    <article class="logo-fix">
      <img src="https://files.fm/thumb.php?i=guvbxs5c7" alt="" />
    </article>
  </section>
</div>

<div class="p-6 flex flex-col gap-10">
  <section
    class="
      w-full
      bg-white
      flex
      justify-center
      flex-col
      items-center
      py-10
      gap-10
    "
  >


  <header class="text-center">
    <h1 class="md:text-lg">
      Participantes de la primera edicion de CANNALITORAL 2023
    </h1>
    <span class="block text-lg mt-2 p-2 m-auto rounded-md bg-f" style="width: 150px;">Sponsor Main:</span>
  </header>

  <section
  class="
    flex flex-wrap
    items-center
    justify-center
    gap-10 gap-x-4
    sm:gap-x-10
  "
>



<img
src="https://files.fm/thumb.php?i=3aep3rsyz"
alt=""
class="sm:w-36 w-16 m-4"
/>

<img
src="https://files.fm/thumb.php?i=njmzdcs9u"
alt=""
class="sm:w-36 w-16 m-4"
/>
<img
src="https://files.fm/thumb.php?i=nvur2u7n9"
alt=""
class="sm:w-36 w-16 m-4"
/>
  <img
    src="https://files.fm/thumb.php?i=u79pam5ed"
    alt=""
    class="sm:w-36 w-16 m-4"
  />

  <img
  src="https://files.fm/thumb.php?i=esacauq6m"
  alt=""
  class="sm:w-36 w-16 m-4"
/>

<img
src="https://files.fm/thumb.php?i=5hmzw6jgw"
alt=""
class="sm:w-36 w-16 m-4"
/>

</section>



    <header class="text-center">
      <span class="block text-lg mt-2 w-36 p-2 m-auto rounded-md bg-f">Sponsor:</span>
    </header>

    <section
      class="
        flex flex-wrap
        items-center
        justify-center
        gap-10 gap-x-4
        sm:gap-x-10
      "
    >
    
      <img
        src="https://files.fm/thumb_show.php?i=p4p492d75"
        alt=""
        class="sm:w-36 w-16 m-4"
      />
      <img
      src="https://files.fm/thumb.php?i=9vfvkx5fh"
      alt=""
      class="sm:w-28 w-16 m-4"
    />
      <img
        src="https://files.fm/thumb.php?i=4d78bw564"
        alt=""
        class="sm:w-32 w-16 m-4"
      />
      <img
        src="https://files.fm/thumb.php?i=8pn62wfdu"
        alt=""
        class="sm:w-36 w-16 m-4"
      />
      <img
        src="https://files.fm/thumb.php?i=nmj48xthx"
        alt=""
        class="sm:w-36 w-16 m-4"
      />
      <img
        src="https://files.fm/thumb_show.php?i=2q6gyecxu"
        alt=""
        class="sm:w-36 w-16 m-4"
      />

    </section>

    <header class="text-center">
      <span class="block text-lg mt-2 w-42 p-2 m-auto rounded-md bg-f">Empresas y emprendedores:</span>
    </header>

    <section
      class="
        flex flex-wrap
        items-center
        justify-center
        gap-10 gap-x-4
        sm:gap-x-10
      "
    >


    <img
    src="https://files.fm/thumb.php?i=zawafdseh"
    alt=""
    class="sm:w-28 w-16"
  />
    <img
    src="https://files.fm/thumb.php?i=t93g6at23"
    alt=""
    class="sm:w-28 w-16"
  />

  <img
    src="https://files.fm/thumb.php?i=9xup6mptf"
    alt=""
    class="sm:w-28 w-16"
  />
  <img
    src="https://files.fm/thumb.php?i=g84x8cvzf"
    alt=""
    class="sm:w-28 w-16  -mt-0"
  />

  <img
    src="https://files.fm/thumb.php?i=awyuyve68"
    alt=""
    class="sm:w-28 w-16"
  />
  <img
    src="https://files.fm/thumb.php?i=hwq7pr8rk"
    alt=""
    class="sm:w-28 w-16  -mt-0"
  />
  <!-- <img
    src="https://files.fm/thumb.php?i=kh9ptsu39"
    alt=""
    class="sm:w-28 w-16  -mt-0"
  /> -->
  <img
    src="
    https://files.fm/thumb.php?i=s73vtkeug
    "
    alt=""
    class="sm:w-32 w-16  -mt-0"
  />




  <img
  src="https://files.fm/thumb.php?i=2hv49q8qj"
  alt=""
  class="sm:w-28 w-16"
  />
  <img
    src="https://files.fm/thumb.php?i=ga5cy58mr"
    alt=""
    class="sm:w-28 w-16"
  />
  <img
    src="https://files.fm/thumb.php?i=rczvv7fk7"
    alt=""
    class="sm:w-28 w-16  -mt-0"
  />
  <img
    src="https://files.fm/thumb.php?i=2nnkrnmxm"
    alt=""
    class="sm:w-28 w-16  -mt-0"
  />
  <img
    src="
    https://files.fm/thumb.php?i=tsmwyhc2q
    "
    alt=""
    class="sm:w-28 w-16  -mt-0"
  />





    
      <img
        src="https://files.fm/thumb.php?i=ywqaavgkr"
        alt=""
        class="sm:w-26 w-16 m-4"
      />
      <img
        src="https://files.fm/thumb.php?i=sscj8crpb"
        alt=""
        class="sm:w-28 w-16 m-4"
      />
      <img
        src="https://files.fm/thumb_show.php?i=e53anmty5"
        alt=""
        class="sm:w-32 w-16 mt-6 -mt-0"
      />
      <img
        src="https://files.fm/thumb_show.php?i=78b86r9b5"
        alt=""
        class="sm:w-32 w-16 mt-2 -mt-0"
      />
      <img
        src="
        https://files.fm/thumb_show.php?i=mve9fytyc
        "
        alt=""
        class="sm:w-28 w-16 mt-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb_show.php?i=6rpmbv254"
        alt=""
        class="sm:w-28 w-16 mt-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb_show.php?i=8hu4n2pg5"
        alt=""
        class="sm:w-32 w-16 mt-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb.php?i=df3e68m2w"
        alt=""
        class="sm:w-32 w-16 mt-2 -mt-0"
      />
      <img
        src="
        https://files.fm/thumb.php?i=hcjtv7v5m
        "
        alt=""
        class="sm:w-28 w-16 mt-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb.php?i=nwvzu5ybd"
        alt=""
        class="sm:w-28 w-16 mt-2 -mt-0"
      />     
      <img
        src="https://files.fm/thumb.php?i=x766gxf9b"
        alt=""
        class="sm:w-26 w-16 mt-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb.php?i=nuwss3yct"
        alt=""
        class="sm:w-26 w-16 mt-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb.php?i=kjkh58swf"
        alt=""
        class="sm:w-24 w-16 mt-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb.php?i=waepfuayp"
        alt=""
        class="sm:w-28 w-16 -mt-0 -ml-0 md:-ml-4"
      />
      

      <img
        src="https://files.fm/thumb.php?i=bpswvhzz2"
        alt=""
        class="sm:w-28 w-16 mt-2 -ml-0 md:-ml-8"
      />
      <img
        src="https://files.fm/thumb.php?i=usb79vvra"
        alt=""
        class="sm:w-28 w-16 mt-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb.php?i=72mebjdjr"
        alt=""
        class="sm:w-28 w-16 -mt-0 -ml-0 md:-ml-10"
      />


      <img
        src="https://files.fm/thumb.php?i=uwmhrvwa7"
        alt=""
        class="sm:w-28 w-16 mt-2 -ml-0 md:-ml-8"
      />
      <img
        src="https://files.fm/thumb.php?i=d9a6k8hch"
        alt=""
        class="sm:w-28 w-16 mt-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb.php?i=zchn2k6ds"
        alt=""
        class="sm:w-28 w-16 "
      />

      <img
      src="https://files.fm/thumb.php?i=xddpgj43n"
      alt=""
      class="sm:w-28 w-16 "
    />
    
    <img
    src="https://files.fm/thumb.php?i=86sn2fu92"
    alt=""
    class="sm:w-28 w-16 "
  />

  <img
  src="https://files.fm/thumb.php?i=hrttyh35d"
  alt=""
  class="sm:w-28 w-16 "
/>


<img
src="
https://files.fm/thumb.php?i=n7mpc4bce
"
alt=""
class="sm:w-32 w-16  -mt-0"
/>

<img
src="
https://files.fm/thumb.php?i=quj2csthz
"
alt=""
class="sm:w-32 w-16  -mt-0"
/>

<img
src="
https://files.fm/thumb.php?i=mxdb8xefe
"
alt=""
class="sm:w-32 w-16  -mt-0"
/>

  
      
    </section>

    <header class="text-center">
      <span class="block text-lg mt-2 w-42 p-2 m-auto rounded-md bg-f">Asociaciones y Cooperativas:</span>
    </header>

    <section
      class="
        flex flex-wrap
        items-center
        justify-center
        gap-10 gap-x-4
        sm:gap-x-10
      "
    >


    

    <img
    src="https://files.fm/thumb.php?i=4e8arf3yy"
    alt=""
    class="sm:w-28 w-16"
  />
    <img
    src="https://files.fm/thumb.php?i=5ubjk48dh"
    alt=""
    class="sm:w-28 w-16"
  />
    <img
      src="https://files.fm/thumb.php?i=v8n44vrar"
      alt=""
      class="sm:w-28 w-16"
    />
    <img
    src="https://files.fm/thumb.php?i=vqpsc8yjt"
    alt=""
    class="sm:w-28 w-16"
    />

    <img
    src="https://files.fm/thumb_show.php?i=urfpn92nd"
    alt=""
    class="sm:w-28 w-16"
    />

      <img
          src="https://files.fm/thumb.php?i=u4jujspwd"
          alt=""
          class="sm:w-28 w-16"
      />
      <img
        src="https://files.fm/thumb.php?i=e7pepzngy"
        alt=""
        class="sm:w-28 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=892ytv4vs"
        alt=""
        class="sm:w-24 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=f446py288"
        alt=""
        class="sm:w-20 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=zwuerczuq"
        alt=""
        class="sm:w-36 w-16"
      />
      <img
        src="https://files.fm/thumb.php?i=uktxwy3ae"
        alt=""
        class="sm:w-28 w-16"
      />
      <img
        src="https://files.fm/thumb.php?i=9n64gjzkb"
        alt=""
        class="sm:w-36 w-16 sm:-mb-2 -mt-0"
      />
      <img
        src="https://files.fm/thumb_show.php?i=w96we7bva"
        alt=""
        class="sm:w-36 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=3vvyeauka"
        alt=""
        class="sm:w-20 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=ecpemtwq9"
        alt=""
        class="sm:w-24 w-16"
      />
      <img
        src="https://files.fm/thumb_show.php?i=6f4a55raa"
        alt=""
        class="sm:w-24 w-16 sm:-mt-6 -mt-0"
      />
      <img
        src="https://files.fm/thumb_show.php?i=5gmmv7z59"
        alt=""
        class="sm:w-32 w-16 sm:-mt-4 -mt-0"
      />

      <img
        src="https://files.fm/thumb_show.php?i=q29dvn2sh"
        alt=""
        class="sm:w-24 w-16 sm:-mt-8 -mt-0"
      />

    
  

    </section>
  </section>

  <iframe
    class="w-full"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1698.7704545179402!2d-60.697272593456894!3d-31.61903719351528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9e65d7b7c27%3A0xf0778c0841a16da9!2sLa%20Redonda%2C%20Arte%20y%20Vida%20Cotidiana!5e0!3m2!1ses!2sve!4v1687302703808!5m2!1ses!2sve"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
