<style>
  :root{
    --color-Burnham: '#003327';
    --color-BudaOro: '#D39400';
    --color-Plata: '#Bababa';
  }
</style>

<div
  class="text-center p-10 w-100 h-100 flex"
  style="background-image: url('https://files.fm/thumb_show.php?i=2mphqs8fs'); background-size: cover; background-position: center; background-repeat: no-repeat; background-color: #003327;"
>
  <section class="sm:mt-10 sm:p-5 mt-0 pt-0 m-auto grid justify-center">
    <h1 class="text-5xl sm:text-8xl font-bold mb-4 text-white">
      Exposición 2023
    </h1>

    <p class="countdown">
      Faltan {{ days }} días, {{ hours }} horas, {{ minutes }} minutos y
      {{ seconds }} segundos.
    </p>

    <ul
      class="
        list-none
        text-2xl
        mb-8
        font-semibold
        text-green-500
        flex
        gap-10
        justify-center
        m-10
        sm:flex-row
        flex-col
      "
    >
      <li
        style="color: #Bababa;"
        class="animate__animated animate__bounce text-2xl"
      >
        Salud
      </li>
      <li
        style="color: #Bababa;"
        class="animate__animated animate__bounce text-2xl"
      >
        Industria
      </li>
      <li
        style="color: #Bababa;"
        class="animate__animated animate__bounce text-2xl"
      >
        Cultivo
      </li>
      <li
        style="color: #Bababa;"
        class="animate__animated animate__bounce text-2xl"
      >
        Cultura
      </li>
    </ul>

    <p class="text-2xl mb-4 text-white">3, 4 y 5 de noviembre 2023</p>
    <p class="text-2xl mb-8 text-white">La Rural</p>

    <div class="flex flex-col md:flex-row items-center gap-4 justify-center">
      <button
        style="background-color: #D39400;"
        class="
          btn-w
          text-white
          w-48
          py-2
          rounded
          transition
          uppercase
          hover:scale-105
          duration-700
          cursor-pointer
        "
        [@fadeInOut]="'in'"
      >
        Quiero ser expositor
      </button>
      <button
        style="background-color: #D39400;"
        class="
          btn-w
          text-white
          py-2
          w-48
          rounded
          transition
          uppercase
          hover:scale-105
          duration-700
          cursor-pointer
        "
        [@fadeInOut]="'in'"
      >
        Quiero ser sponsor
      </button>
    </div>
  </section>
</div>
