<div class="bg-gray-100 py-12 bg-quienes">
  <div class="container mx-auto px-4 lg:px-8">
    <div class="bg-[#003327] shadow-md rounded-lg px-8 py-6 md:py-8 lg:py-10">
      <h2
        class="text-[#D39400] text-xl lg:text-4xl font-bold mb-6 text-center"
      >
      Bienvenidos a la CANNALITORAL 2023
      <span class="text-lg block">
        “Unidos por el crecimiento de la industria del Cannabis en todo el Litoral Argentino”
      </span>
      
      </h2>


      <section class="flex flex-col gap-8 about text-white"> 

        <div class="flex lg:flex-row flex-col gap-10 text-center lg:text-justify">

          <article class="mt-10 flex flex-col gap-5 ">

            <h1 class="text-xl text-center">
              Tenemos el agrado de saludarte y de conocerte estableciendo este primer contacto
            </h1>

            <p class="leading-7">
              Tenemos el placer de invitarlos a participar en la emocionante CANNALITORAL, un evento que promete ser una experiencia inolvidable para todos los amantes y curiosos de la cultura cannábica. Este evento único se llevará a cabo los días 19 y 20 de agosto de 2023 en el impresionante espacio La Redonda, ubicado en la provincia de Santa Fe.
              <br>
              La CANNALITORAL reúne a jóvenes,familias, asociaciones civiles, pequeños y medianos empresarios, productores, investigadores, turistas y entusiastas de todo el país. Durante estos dos días, podrás sumergirte en un mundo de conocimiento, entretenimiento y oportunidades relacionadas con el cannabis Medicinal  y cáñamo industrial.
              <br>
              No te pierdas esta oportunidad única de ser parte de la CANNALITORAL. Marca en tu calendario los días 19 y 20 de agosto de 2023 y acompañanos en el espacio La Redonda, en la hermosa provincia de Santa Fe. ¡Te esperamos con los brazos abiertos para vivir una experiencia inigualable!
            </p>

          </article>

          <article class="mt-10 flex flex-col gap-5 ">

            <h1 class="text-xl text-center">
              Queremos invitarlos cordialmente a que formen parte de la <span class="text-[#D39400]">CANNALITORAL</span>
            </h1>

            <p class="leading-7">
              Además de contar con una amplia variedad de stands y expositores que te mostrarán las últimas innovaciones y productos relacionados con el cannabis, también podrás disfrutar de una gran oferta cultural y gastronómica. Desde charlas informativas y debates sobre los avances en salud y terapéutica hasta presentaciones artísticas y actividades recreativas,talleres, y conferencias,habrá algo para todos los gustos.
              <br>
              La CANNALITORAL también será un espacio ideal para establecer contactos y establecer relaciones comerciales. Tendrás la oportunidad de interactuar con representantes de cooperativas, empresarios y emprendedores de la industria, creando vínculos que pueden abrir nuevas puertas y oportunidades.
                <br> <br>
                Atentamente CANNALITORAL
            </p>

          </article>

        </div>

        <div class="image m-auto">
          <img src="https://files.fm/thumb_show.php?i=jfr3475fq" sizes="(max-width: 320px) 280px,
          (max-width: 480px) 440px,
          800px" alt="">
        </div>

        

        <div class="flex flex-col gap-2 text-center">
          <p class="leading-7">
            ¡Nos encantaría contar con su presencia!, nos resulta determinante poder compartir todos los avances. Si les interesa formar parte de nuestro evento y tener más información respecto al mismo, comunicarse a la brevedad con nuestro equipo técnico para solventar las dudas que puedan tener.     
            Contamos con su respuesta antes del 24 de JUNIO para formalizar su invitación y concretar los detalles de la organización.
          </p>
          <div class="logo-img py-8">
            <img src="https://files.fm/thumb.php?i=jbhsacfxs" alt="">
          </div>
          <ul class="flex flex-col m-auto text-sm">
            <li>Contacto:
              <a href="contacto@cannalitoral.com">contacto@cannalitoral.com</a>
            </li>
            <li>WhatsApp:
              <a href="">+54 9 3424 85-5887</a>
            </li>
            <li>Redes Sociales:
              <a href="https://instagram.com/expocannabislitoral?igshid=MmJiY2I4NDBkZg==">Instagram</a>
            </li>
          </ul>
        </div>

      </section>


    </div>
  </div>
</div>
