.about article{
    width: 50%;
}

.logo-img{
    width: 180px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .about article{
        width: 100%;
    }
}
.bg-quienes{
    /* background: url(../../assets/images/photo-1635791551959-e2282b331af3.webp); */
    background: url(https://images.unsplash.com/photo-1636775861341-9acbbdcdf976?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=627&q=80);
    background-position: 80%;
    background-size: cover;
}