<div class="bg-gray-100 py-12 bg-quienes">
  <div class="container mx-auto px-4 lg:px-8">
    <div class="bg-[#003327] shadow-md rounded-lg px-8 py-6 md:py-8 lg:py-10">
      <h2
        class="text-[#D39400] text-xl lg:text-4xl font-bold mb-6 text-center"
      >
      EXPO CANNABIS LITORAL

      <span class="text-lg block">
        “Unidos por el crecimiento de la industria del Cannabis en todo el Litoral Argentino”
      </span>
      
      </h2>


      <section class="flex flex-col gap-8 about text-white"> 

        <div class="flex lg:flex-row flex-col gap-10 text-center lg:text-justify">

          <article class="mt-10 flex flex-col gap-5 ">

            <h1 class="text-xl text-center">
              Tenemos el agrado de saludarte y de conocerte estableciendo este primer contacto
            </h1>

            <p class="leading-7">
              Somos un grupo de profesionales de distintas áreas con un motivo y propósito: Queremos destacar el proyecto de cooperación entre el Gobierno de la provincia de Santa Fe con respecto a las políticas integrales de investigación que está realizando de la mano con el Laboratorio Industrial Farmacéutico (LIF S.E), el Centro de Investigación y Desarrollo de Cannabis Medicinal (CIDCaM), el Consejo Nacional de Investigaciones Científicas y Técnicas (CONICET) y el Instituto Nacional de Tecnología Agropecuaria (INTA) junto con las Asociaciones Civiles para poder visibilizar los avances evolutivos en políticas públicas integrales, científicos e industriales que tuvo tanto el cannabis como el cáñamo en los últimos años. Esta iniciativa surge para dar respuesta a una demanda histórica de la sociedad civil, en especial a madres que cultivan y para la producción de un conocimiento transferible.
            </p>

          </article>

          <article class="mt-10 flex flex-col gap-5 ">

            <h1 class="text-xl text-center">
              Queremos invitarlos cordialmente a que formen parte de la <span class="text-[#D39400]">EXPO CANNABIS LITORAL</span>
            </h1>

            <p class="leading-7">
              Un evento con características modernas que se realiza dentro de la ciudad teniendo en cuenta que nunca antes se había realizado un encuentro de este carácter. El mismo se llevará a cabo en un lugar emblemático de la ciudad de Santa Fe:  LA REDONDA y  EL PARQUE FEDERAL; un antiguo taller locomotor con gran valor cultural en un ambiente amplio de espacios verdes.
              La fecha pactada va a tener lugar los días 19 y 20 de AGOSTO del corriente año y para eso necesitamos de su confirmación oficial dentro de las fechas establecidas para formalizar su presencia y participación dentro del mismo.                   
              <br>
              Ofrecemos un acercamiento al público objetivo en afán de enriquecer el tránsito y visibilidad de las marcas que participan, dando a conocer sus productos y servicios, reforzando el vínculo con todos sus potenciales clientes; con el propósito de generar una comunidad mucho más informada y evolutiva dentro de todo el territorio que abarca el LITORAL Argentino.
            </p>

          </article>

        </div>

        <div class="image m-auto">
          <img src="https://statics.eleconomista.com.ar/2021/09/614fc56952c38.jpg" alt="">
        </div>

        <div class="flex flex-col gap-2 text-center">
          <p class="leading-7">
            ¡Nos encantaría contar con su presencia!, nos resulta determinante poder compartir todos los avances. Si les interesa formar parte de nuestro evento y tener más información respecto al mismo, comunicarse a la brevedad con nuestro equipo técnico para solventar las dudas que puedan tener.     
            Contamos con su respuesta antes del 24 de JUNIO para formalizar su invitación y concretar los detalles de la organización.
          </p>
          <div class="logo-img">
            <img src="https://files.fm/thumb.php?i=pa8xyadkt" alt="">
          </div>
          <ul class="flex flex-col m-auto text-sm">
            <li>Contacto:
              <a href="Expocannabislitoral@gmail.com">Expocannabislitoral@gmail.com</a>
            </li>
            <li>WhatsApp:
              <a href="">+54 9 3424 85-5887</a>
            </li>
            <li>Redes Sociales:
              <a href="https://instagram.com/expocannabislitoral?igshid=MmJiY2I4NDBkZg==">Instagram</a>
            </li>
          </ul>
        </div>

      </section>


    </div>
  </div>
</div>
