.contact-sec{
    background: #000;
    height: auto;
    padding: 5rem 2rem;
    width: 100%;
    background-image: url(https://files.fm/thumb_show.php?i=em3ggtz95);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.position-header{
    background: rgb(212, 148, 0);
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding-left: 5rem;
}
