<div
  class="w-full h-40 bg-cover bg-center mb-8"
  style="background-image: url('https://via.placeholder.com/150')"
></div>

<form
  (ngSubmit)="submitForm()"
  [formGroup]="contactForm"
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="name"
      >Nombre</label
    >
    <input
      class="
        shadow
        appearance-none
        border
        rounded
        w-full
        py-2
        px-3
        text-gray-700
        leading-tight
        focus:outline-none focus:shadow-outline
      "
      type="text"
      id="name"
      formControlName="name"
      required
    />
    <div
      *ngIf="
        contactForm.controls.name.invalid &&
        (contactForm.controls.name.dirty || contactForm.controls.name.touched)
      "
      class="text-red-500 text-xs mt-1"
    >
      El nombre es requerido.
    </div>
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="email"
      >Email <span class="text-red-500"> * </span></label
    >
    <input
      class="
        shadow
        appearance-none
        border
        rounded
        w-full
        py-2
        px-3
        text-gray-700
        leading-tight
        focus:outline-none focus:shadow-outline
      "
      type="email"
      id="email"
      formControlName="email"
      required
    />
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="phone"
      >Teléfono</label
    >
    <input
      class="
        shadow
        appearance-none
        border
        rounded
        w-full
        py-2
        px-3
        text-gray-700
        leading-tight
        focus:outline-none focus:shadow-outline
      "
      type="tel"
      id="phone"
      formControlName="phone"
    />
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="message"
      >Mensaje <span class="text-red-500"> * </span></label
    >
    <textarea
      class="
        shadow
        appearance-none
        border
        rounded
        w-full
        py-2
        px-3
        text-gray-700
        leading-tight
        focus:outline-none focus:shadow-outline
      "
      id="message"
      formControlName="message"
      required
    ></textarea>
  </div>

  <div class="flex items-center justify-between">
    <button
      class="
        bg-pink-400
        hover:bg-blue-700
        text-white
        font-bold
        py-2
        px-4
        rounded
        focus:outline-none focus:shadow-outline
      "
      type="submit"
      [disabled]="contactForm.invalid"
    >
      Enviar
    </button>
  </div>
</form>
