<footer class="bg-gray-900 text-white">
  <div class="container mx-auto py-8 px-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="md:col-span-2">
        <h3 class="text-2xl font-bold mb-4">El Litoral Expo Cannabica 2023</h3>
        <p class="mb-4">
          El Litoral Expo Cannabica 2023 es un evento único en su tipo, dedicado
          a la industria del cannabis y a la promoción de sus diversos usos y
          beneficios. Nuestro objetivo principal es brindar un espacio de
          encuentro para profesionales, empresas y entusiastas del cannabis,
          donde puedan compartir conocimientos, descubrir productos innovadores
          y establecer redes de colaboración.
        </p>
        <p class="mb-4">
          Durante el evento, ofreceremos conferencias, exposiciones, talleres y
          actividades relacionadas con la industria del cannabis. Estamos
          comprometidos con promover la educación, la investigación y el
          desarrollo de esta fascinante planta, así como también fomentar un
          enfoque responsable y sostenible en su uso.
        </p>
      </div>
      <div>
        <h3 class="text-2xl font-bold mb-4">Contáctanos</h3>
        <ul class="mb-4">
          <li>
            <i class="fas fa-map-marker-alt mr-2"></i>Villa Dolores, Córdoba,
            Argentina
          </li>
          <li><i class="fas fa-phone-alt mr-2"></i>+51 999 999 999</li>
          <li><i class="fas fa-envelope mr-2"></i>info@expocannabica.com</li>
        </ul>
        <h3 class="text-2xl font-bold mb-4">Síguenos</h3>
        <div class="flex">
          <a href="#" class="mr-4"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#" class="mr-4"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#" class="mr-4"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="#" class="mr-4"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
      </div>
    </div>
    <hr class="border-gray-600 my-8" />
    <div class="text-center">
      <p class="text-gray-500 mb-4">
        © 2023 El Litoral Expo Cannabica. Todos los derechos reservados.
      </p>
      <!-- <a href="#" class="text-purple-500 font-bold hover:underline">Política de privacidad</a> -->
    </div>
  </div>
</footer>
